1. Write a Python program to convert kilometers to miles?
2. Write a Python program to convert Celsius to Fahrenheit?
3. Write a Python program to display calendar?
4. Write a Python program to solve quadratic equation?
5. Write a Python program to swap two variables without temp variable?

In [2]:
#1. 
def km_to_miles(a):
    return a/1.609

In [3]:
km_to_miles(1)

0.6215040397762586

In [17]:
#2. 
def cel_to_F(a):
    b = (a * 9/5) + 32 
    return str(b) + " F"

In [18]:
cel_to_F(0)

'32.0 F'

In [43]:
#3.
import calendar as cld

In [42]:
print(calendar.calendar(2001))

                                  2001

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                1  2  3  4
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       5  6  7  8  9 10 11
15 16 17 18 19 20 21      12 13 14 15 16 17 18      12 13 14 15 16 17 18
22 23 24 25 26 27 28      19 20 21 22 23 24 25      19 20 21 22 23 24 25
29 30 31                  26 27 28                  26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6                   1  2  3
 2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17
16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24
23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30
30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                      1  2
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       3  4  5  6  7  8  9
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      10 11 12 13 14 15 16
16 17 18 19 20 21 22      20 21 22 23 24 25 26      17 18 19 20 21 22 23
23 24 25 26 27 28 29      27 28 29 30 31            24 25 26 27 28 29 30
30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                      1  2
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       3  4  5  6  7  8  9
15 16 17 18 19 20 21      12 13 14 15 16 17 18      10 11 12 13 14 15 16
22 23 24 25 26 27 28      19 20 21 22 23 24 25      17 18 19 20 21 22 23
29 30 31                  26 27 28 29 30            24 25 26 27 28 29 30
                                                    31

In [97]:
# 4
import cmath
def solve(a , b , c):
    d = (b**2) - (4*a*c)
    root1 = (-b-cmath.sqrt(d))/(2*a)
    root2 = (-b+cmath.sqrt(d))/(2*a)
    print("the roots are {} and {}".format(root1 , root2))

In [98]:
solve(3 , 4 , 4)

the roots are (-0.6666666666666666-0.9428090415820635j) and (-0.6666666666666666+0.9428090415820635j)

In [99]:
#5
def swap(a , b):
    a , b = b ,a
    return (a , b)

In [100]:
swap(3,2)

(2, 3)